@font-face {
  font-family: 'alegreya';
  src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'), url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: #f6d365;
  /*ffc92f*/
  --red: #ff5757;
  /* #EC6060 */
  --black: #232323;
  /* #1b1b1b */
  --blue: #286090;
  /* cornflowerblue */
  --brown: #683B4D;
  --white: #fff;
  /* #F2F0F0 F9F0DA*/
  --gray: whitesmoke;
  /*fffefe*/
  --green: #59ff2f;

  /* color: rgb(0, 255, 200); */

  --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  color: var(--black);
  background: url('/assets/img/bg1.jpg') center center / 250px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
  min-width: 1440px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

.hero {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 20px 0;
  min-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.header__link {
  margin-right: 20px;
}

.header__img {
  width: 125px;
  height: 125px;
}

.header__title {
  color: var(--red);
  font-size: 35px;
}

.navigation {
  margin-right: 150px;
}

.navigation__list {
  display: flex;
  ;
}

.navigation__item {
  position: relative;
  margin-right: 10px
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item::after {
  position: absolute;
  content: "";
  right: -5px;
  width: 1px;
  height: 20px;
  background: var(--red);
}

.navigation__item:last-child::after {
  background: transparent;
}

.navigation__link {
  color: rgb(0, 255, 200);
}

.navigation__user {
  color: var(--red);
}

.main {
  background-color: rgb(218, 218, 218, 0.9);
  margin-top: 10px;
  width: 1100px;
}

.main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 30px 20px;
}

.message {
  border: 5px solid;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.message_red {
  border-color: rgb(245, 125, 125);
  background-color: rgb(245, 155, 155);
}

.message_green {
  border-color: rgb(160, 245, 125);
  background-color: rgb(180, 245, 155);
}

.page {}

.page__title {
  color: var(--blue);
  font-size: 25px;
  margin-bottom: 20px;
}

/*v_allArticle*/

.article {
  position: relative;
  max-width: 500px;
  margin-bottom: 20px;
}

.article::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: -15px;
  width: 530px;
  height: 1px;
  background: var(--red);
}

.article__title {
  font-size: 20px;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.article__name {
  color: var(--black);
}

.article__date {
  color: var(--blue);
}

.article__content {
  font-style: italic;
  font-size: 15px;
  word-wrap: break-word;
  /* overflow: hidden;
	text-overflow: ellipsis; */
}


/*
.footer {
  background: var(--black);
	width: max-content;
  padding: 20px 30px 20px 130px;
}

.footer__main {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__information {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  border: 1px solid var(--white);
  border-radius: 90px;
}

.footer__logo:hover {
  border: 1px solid var(--red);
}

.footer__logo-icon {
  margin: 10px;
  height: 85px;
  width: 85px;
}

.footer__community {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 30px 0;
}

.footer__community::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 950px;
  height: 5px;
  background: var(--red);
}

.footer__community-link {
  border-radius: 90px;
  background-color: var(--white);
  margin-right: 25px;
}

.footer__community-link:hover {
  background-color: var(--red);
  color: var(--white);
}

.footer__community-link:last-child {
  margin-right: 0;
}


.footer__community-icon {
  margin: 10px;
}

.scrollup {
  position: fixed;
  color: var(--red);
  right: 70px;
  bottom: 70px;
  padding: 12px 15px;
  font-size: 30px;
  border-radius: 90px;
  border: 5px var(--red) solid;
  cursor: pointer;
  display: none;
  text-align: center;
}

.scrollup:hover {
  background-color: var(--red);
  color: var(--white);
} */