@font-face {
  font-family: 'alegreya';
  src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'), url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: #f6d365;
  /*ffc92f*/
  --red: #ff5757;
  /* #EC6060 */
  --black: #232323;
  /* #1b1b1b */
  --blue: #286090;
  /* cornflowerblue */
  --brown: #683B4D;
  --white: #fff;
  /* #F2F0F0 F9F0DA*/
  --gray: whitesmoke;
  /*fffefe*/
  --green: #59ff2f;

  /* color: rgb(0, 255, 200); */

  --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  color: var(--black);
  background: url('/assets/img/bg1.jpg') center center / 250px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-width: 1440px;
  min-height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 163px;
}

.header {
  margin: 20px 0;
  min-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.header__link {
  margin-right: 20px;
}

.header__img {
  width: 125px;
  height: 125px;
}

.header__title {
  color: var(--red);
  font-size: 35px;
}

.navigation {
  margin-right: 150px;
}

.navigation__list {
  display: flex;
  ;
}

.navigation__item {
  position: relative;
  margin-right: 10px
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item::after {
  position: absolute;
  content: "";
  right: -5px;
  width: 1px;
  height: 20px;
  background: var(--red);
}

.navigation__item:last-child::after {
  background: transparent;
}

.navigation__link {
  color: rgb(0, 255, 200);
}

.navigation__user {
  color: var(--red);
}

.main {
  background-color: rgb(218, 218, 218, 0.9);
  margin-top: 10px;
  width: 1100px;
}

.main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 30px 20px;
}

.message {
  border: 5px solid;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.message_red {
  border-color: rgb(245, 125, 125);
  background-color: rgb(245, 155, 155);
}

.message_green {
  border-color: rgb(160, 245, 125);
  background-color: rgb(180, 245, 155);
}

.page {}

.page__space {
  display: flex;
  justify-content: space-between;
}

.page__title {
  color: var(--blue);
  font-size: 25px;
  margin-bottom: 20px;
}

/*v_Article*/
.menu {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  color: var(--black);
}

.menu__item:hover {
  color: var(--red);
}

/*v_allArticle*/

.article {
  position: relative;
  max-width: 550px;
  min-width: 300px;
  margin-bottom: 20px;
}

.article::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: -15px;
  width: calc(100% + 15px);
  height: 1px;
  background: var(--red);
}

.article__title {
  font-size: 20px;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.article__name {
  color: var(--black);
}

.article__name:hover {
  color: royalblue;
}

.article__date {
  color: var(--blue);
}

.article__category {
  font-size: 13px;
  margin-bottom: 20px;
}

.article__link {
  color: var(--yellow);
}

.article__link:hover {
  color: var(--red);
}

.article__content {
  font-style: italic;
  font-size: 15px;
  word-wrap: break-word;
  /* overflow: hidden;
	text-overflow: ellipsis; */
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: var(--black);
  min-width: 1920px;
}

.footer__logo {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.footer__logo::after {
  position: absolute;
  content: "";
  bottom: -15px;
  width: 950px;
  height: 3px;
  background: var(--red);
}

.footer__img {
  width: 85px;
  height: 85px;
}

.footer__text {
  margin: 10px 0 20px 30px;
  color: var(--white);
}

/*
.scrollup {
  position: fixed;
  color: var(--red);
  right: 70px;
  bottom: 70px;
  padding: 12px 15px;
  font-size: 30px;
  border-radius: 90px;
  border: 5px var(--red) solid;
  cursor: pointer;
  display: none;
  text-align: center;
}

.scrollup:hover {
  background-color: var(--red);
  color: var(--white);
} */